body{
   margin: 0;
}
.one{
   background-image: url('../img/1.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    background-attachment: fixed;
}
.two{
   background-image: url('../img/abigail-jones-439387.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    background-attachment: fixed;
}
.three{
   background-image: url('../img/3.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.four{
   background-image: url('../img/4.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.five{
   background-image: url('../img/5.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    background-attachment: fixed;
}
.six{
   background-image: url('../img/6.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.seven{
   background-image: url('../img/7.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.eight{
   background-image: url('../img/8.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.one h1{
   color:#fff;
   font-family: 'Dancing Script', cursive;
   float: right;
   margin: 20px;
   font-weight: 400;
   font-size: 50px;
}

.two h1{
   color:#000000;
   margin-top: 100px; 
   font-family: 'Dancing Script', cursive;
   text-align: center;
   position: absolute;
   left: 25%;
   bottom: 30px;
   float: bottom;
   margin: 20px;
   font-weight: 400;
   font-size: 50px;
}

.three img{
   height: 100px;
   width: 100px;
   border-radius: 50%;
}

.three h3{
   color:#fff;
   font-family: 'Dancing Script', cursive;
}

.seven h1{
   color:rgb(0, 0, 0);
   font-family: 'Dancing Script', cursive;
   text-align: center;
   margin-top: 300px;
   font-weight: 400;
   font-size: 50px;
}

.seven img{
   height: 100px;
   width: 100px;
   border-radius: 50%;
}
