body{
   margin: 0;
}
.one{
   background-image: url('../img/1.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.two{
   background-image: url('../img/abigail-jones-439387.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.three{
   background-image: url('../img/3.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.four{
   background-image: url('../img/4.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.five{
   background-image: url('../img/5.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.six{
   background-image: url('../img/6.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.seven{
   background-image: url('../img/7.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.eight{
   background-image: url('../img/8.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}